/* Custom component styles */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo-spinning {
    animation: logo-spin infinite 20s linear;
  }
}
