node_modules
dist
.env
.DS_Store
.vscode
.idea
npm-debug.log
yarn-error.log
coverage
*.log       

# Ignore Mac system files
._**
.Spotlight-V100
.Trashes        
Thumbs.db   
ehthumbs.db
Desktop.ini
